<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Proj-11-MIMEApp-ServletLifeCycle</display-name>
  <welcome-file-list>
    <welcome-file>lctesturl</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>html</servlet-name>
    <servlet-class>com.nt.servlet.HtmlServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>html</servlet-name>
    <url-pattern>/hturl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>word</servlet-name>
    <servlet-class>com.nt.servlet.WordServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>word</servlet-name>
    <url-pattern>/wdurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xml</servlet-name>
    <servlet-class>com.nt.servlet.XmlServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>xml</servlet-name>
    <url-pattern>/xlurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>excel</servlet-name>
    <servlet-class>com.nt.servlet.ExcelServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>excel</servlet-name>
    <url-pattern>/xlsurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>plain</servlet-name>
    <servlet-class>com.nt.servlet.PlainServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>plain</servlet-name>
    <url-pattern>/plainurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lctest</servlet-name>
    <servlet-class>com.nt.servlet.LcTestServlet</servlet-class>
    <init-param>
    	<param-name>email</param-name>
    	<param-value>varunraj2297@gmail.com</param-value>
    </init-param>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>lctest</servlet-name>
    <url-pattern>/lctesturl</url-pattern>
  </servlet-mapping>
</web-app>