<web-app>
  <display-name>Proj-13-ServletToDbCommunication-EmpSearch</display-name>
  <welcome-file-list>
    <welcome-file>input.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>dbuser</param-name>
    <param-value>dfsgh</param-value>
  </context-param>
  <context-param>
    <param-name>dbpwd</param-name>
    <param-value>ghj</param-value>
  </context-param>
  <context-param>
    <param-name>dbpwd</param-name>
    <param-value>hr</param-value>
  </context-param>
  <servlet>
    <servlet-name>empsearch</servlet-name>
    <servlet-class>com.nt.servlet.EmpSearchServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>empsearch</servlet-name>
    <url-pattern>/empurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>errjsp</servlet-name>
    <jsp-file>/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>errjsp</servlet-name>
    <url-pattern>/ejurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>errhtml</servlet-name>
    <jsp-file>/error.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>errhtml</servlet-name>
    <url-pattern>/ehurl</url-pattern>
  </servlet-mapping>
</web-app>