<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Proj-39-RequestFilter-POC</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
     <servlet-name>sum</servlet-name>
     <servlet-class>com.nt.servlet.AdditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>sum</servlet-name>
     <url-pattern>/sumurl</url-pattern>
  </servlet-mapping>
  
  <filter>
     <filter-name>validate</filter-name>
     <filter-class>com.nt.filter.ValidateFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>validate</filter-name>
     <url-pattern>/sumurl</url-pattern>
  </filter-mapping>
  
  <filter>
     <filter-name>browser</filter-name>
     <filter-class>com.nt.filter.BrowserFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>browser</filter-name>
     <url-pattern>/sumurl</url-pattern>
  </filter-mapping>
</web-app>